# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# matplotlib cache
.matplotlib/

# Ignore visualization outputs
nonogram_visualization.png
nonogram_puzzle.txt